# Environment variables
.env
.env.*
!.env.example
backend/.env

# Node
node_modules/
backend/node_modules/
npm-debug.log*

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Generated/uploaded files
backend/uploads/
# Local Netlify folder
.netlify

# Flutter generated metadata
.metadata

# Build/deployment archives
*.zip
